ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: darkslategray;
  font-size: 2rem;
}
button {
  border: none;
  color: darkslategray;
  font-size: 2rem;
}
.navbar {
  display: flex;
}
.navbar li {
  text-align: center;
  padding: 1rem;
}
